* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Monospace, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.9);;
    height: 8vh;
  }
  
  main {
    background: url("food.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .navlinha {
    list-style: none;
    display: flex;
  }
  
  .navlinha li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .barramenu {
    display: none;
    cursor: pointer;
  }
  
  .barramenu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .navlinha {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #2a7777;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .navlinha li {
      margin-left: 0;
      opacity: 0;
    }
    .barramenu {
      display: block;
    }
  }
  
  .navlinha.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .barramenu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .barramenu.active .line2 {
    opacity: 0;
  }
  
  .barramenu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
  }
  input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
body{
    font-family: Monospace,Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(41, 187, 187), rgb(23, 46, 68));
}
div{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 70px;
    border-radius: 15px;
    color: #fff;
}
input{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}


   var login1 = 'adm'
        var senha1 = 'adm123'
        function clicar(){
          var entralogo = verificarUso2('', '')
          console.log(entralogo)
        }
        function verificarUso2(senha, user){
          if((senha == senha1) || user == login1){
            return true
          }else{
            return false
