.header-1 {
    background-color:#262121 ;
    height: 60px;
}

.txt{
    transform: translateY(-280%) !important;
    text-indent: 80px;
    letter-spacing: 2px;    
    line-height: 0.5;
    text-align: left;
}

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color : black;
}    

body{
    font-family: Monospace;
}

ul{
    list-style: none;
}

input[type="checkbox"]
{
   display: none; 
}

nav
{
    background-color: rgb(134, 128, 128);
    width: 5000px;
    height: 100%;
}

a{
    display: block;
    padding: 20px 5px ;
    color: rgb(0, 0, 0);
}

a:hover{
    background-color: rgb(#f2706e);
    color:black;

}