* {
    margin: 0;
    padding: 0;
}
a { 
    color: rgb(168, 158, 158);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo{
    font-size : 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:black;
    height : 8vh ; 
}

/*tem que designar uma imagem depois do url */

main{
    background:url("") no-repeat
    center center;
}

.nav-list{
    list-style:none;
    display:flex;
}

.nav-list il {
    letter-spacing:3px;
    margin-left:32px;
}

.mini-menu{
    display: none;
    cursor:pointer;
}

.mini-menu div {
    width:23px;
    height: 2px;
    background: cornsilk;
    margin: 8px;
}

@media (max-width: 999px){
    .nav-list{
        position: absolute;
        top:8vh;
        right:0;
        width: 50vw;
        height:92vh;
        background:#23232e;
        flex-direction:column;
        align-items: center;
        justify-content: space-around;
    }
.nav-ist il {
    margin-left: 0;
    opacity:0;
    
}
}









































































































